body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

html {
    scroll-behavior: smooth;

  }

.container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    background-color: #001f7c38;
}


.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode:overlay;
}

/* Gradient Animation */
.gradient{
    background: linear-gradient(to right,#00aaa7, #7e42a7, #6600c5, #6070fd,#2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
}


/* Sidebar */

.menu-icon{
    font-size: 35px;
    cursor: pointer;
    display: none;
}


.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 70%;
    width: 0%;
    background-color: #000000b8;
    z-index: 999;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.479);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-bottom-left-radius: 100%;
    
}

.close-icon{
    font-size: 50px;
    color: lightgray;
    padding-left: 10px;
    cursor: pointer;
}

.sidebar ul{
    padding-left: 20px;
}

.sidebar ul li{
    list-style: none;
    margin-bottom: 30px;
}

.sidebar ul li a{
    text-decoration: none;
    color: lightgray;
    font-size: 30px;
    font-weight: 900;
    text-shadow:0 0 15px #4c4c4c;
}

.social-sidebar{
    padding-left: 20px;
    margin-top: 60px;
    text-wrap: nowrap;
}

.social-sidebar a{
    font-size: 35px;
    padding: 5px 5px;
    cursor: pointer;
    transition: 0.5s;
}

/* Sidebar Open ANimation */
.sidebar.open-sidebar{
    animation: openSideBarAnimation 1.5s forwards;
}

@keyframes openSideBarAnimation {
    to{
        width: 80%;
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
}

/* Sidebar close ANimation */

.sidebar.close-sidebar{
    animation: closeSideBarAnimation 1.5s forwards;
}

@keyframes closeSideBarAnimation {
    from{
        width: 80%;
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
    to{
        width: 0;
        opacity: 0;
        bottom: 70%;
        border-bottom-left-radius: 50%;
    }
}

@media (max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}


@media screen and (max-width: 700px){
 
    .container{
        height: 100%;
    }
    
}
@media screen and (max-width: 480px) {

    .scroll-down{
        bottom: 15%;
        left: 60%;
    }
 
}








